<section class="py-3 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">TechShare Application</h1>
        <p>TECHshare is a a secure file-sharing blog collaboration platform with a friendly user experience designed to help users learn and develop expertise in the tech industry.</p><br> 
        <p>Application developed by <strong>Emmanuel Ekem</strong></p>
        <p>
          <a routerLink="/register"id="p1" class="btn btn-primary my-2">Register</a>
          <a routerLink="/login" id="p2" class="btn btn-secondary my-2">Login</a>
        </p>
      </div>
    </div>
  </section>
